.star-rating {
    position: relative;
    width: 125px;
    font-size: 25px;
    letter-spacing: -1.5px;
    top: -5px;
}
.star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: #ffcc33;
}
.star-rating-back {
    color: #ccc;
}
.skill-name {
    font-size: 1.25rem;
    font-weight: 300;
    margin-right: 13px;
}
.skill-box {
    display: flex;
    margin: 20px 50px;
}

.row-center {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}